body {
    margin: 0;
}

#mynetwork {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.floating-info {
position: fixed;
display: none;
width: 250px;
padding: 10px;
background-color: white;
/* border: 1px solid black; */
border-radius: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
z-index: 9999;
color: black;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}

.complete-button {
    background-color: rgb(52, 185, 112);
}

.inProgress-button {
    background-color: rgb(219, 181, 29);
}

.remove-button {
    background-color: rgb(228, 78, 78);
}
